<mat-card>
  <!-- Selector de Idioma -->

  <app-selector-idioma></app-selector-idioma>

  <mat-card-title>{{'login.titulo-login' | transloco}}</mat-card-title>

  <mat-card-content>
    <form class="mx-auto" #form="ngForm" (ngSubmit)="login(form)">


      <p>
        <mat-form-field>
          <input matInput id="nombreUsuario" name="nombreUsuario" type="text"
            placeholder="{{'login.nombre-usuario' | transloco}}" [(ngModel)]="credenciales.nombreUsuario">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput id="contrasena" name="contrasena" type="password" placeholder="{{'login.contrasenha' | transloco}}"
            [(ngModel)]="credenciales.contrasena">
        </mat-form-field>
      </p>

      <div class="estilo-boton">
        <button mat-raised-button color="primary">{{'login.ingresar' | transloco}}</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
