<mat-card class="style-contenedor-principal">
  <mat-toolbar color="primary">
    Mercaderias Disponibles
  </mat-toolbar>

  <!--Filtros-->
  <div id="filtros" class="style-contenedor-filtro" (keyup.enter)="filtrar()">
    <mat-form-field appearance="outline" class="style-input-filtro-id">
      <mat-label>Id</mat-label>
      <input matInput id="filtroId" type="number" [(ngModel)]="mercaderiaFiltro.id"
             (blur)="limpiarFiltrosExceptoId()" (keyup.enter)="limpiarFiltrosExceptoId()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-input-filtro-descripcion">
      <mat-label>Descripción</mat-label>
      <input matInput id="filtroDescripcion" type="text" [(ngModel)]="mercaderiaFiltro.descripcion">
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-select-filtro-tipo">
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="mercaderiaFiltro.idTipo" [compareWith]="compararOpcionesSelect">
        <mat-option [value]="-1">TODOS</mat-option>
        <mat-option *ngFor="let tipoMercaderia of listaTiposMercaderia" [value]="tipoMercaderia">
          {{tipoMercaderiaUtils.getDescripcion(tipoMercaderia)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-select-filtro-departamento">
      <mat-label>Departamento</mat-label>
      <mat-select [(ngModel)]="mercaderiaFiltro.idDepartamento" [compareWith]="compararOpcionesSelect">
        <mat-option [value]="-1">TODOS</mat-option>
        <mat-option *ngFor="let departamento of listaDepartamentos" value={{departamento._id}}>{{departamento.descripcion}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-select-filtro-situacion">
      <mat-label>Situación</mat-label>
      <mat-select [(ngModel)]="mercaderiaFiltro.idSituacion" [compareWith]="compararOpcionesSelect">
        <mat-option [value]="-1">TODOS</mat-option>
        <mat-option *ngFor="let situacion of listaSituaciones" [value]="situacion">
          {{situacionUtils.getDescripcion(situacion)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button class="style-button-filtro" (click)="limpiar()" color="accent">Limpiar</button>
    <button mat-raised-button class="style-button-filtro" (click)="filtrar()" [disabled]="isFiltrando"
      color="primary">Filtrar</button>
  </div>

  <div class="column flex mat-elevation-z8">

    <!--Pasamos las variables del componente principal al componente lista-->
    <app-mercaderias-lista *ngIf="listMercaderias$ | async as mercaderias; else cargando"
      [listMercaderias]="mercaderias"
      [pageResponse]="this.pageRes"
      [pageRequest]="this.pageRequestDefault"
      (nuevo)="onNuevo()" (visualizar)="onVisualizar($event)" (editar)="onEditar($event)"
      (eliminar)="onEliminar($event)" (inactivar)="onInactivar($event)">
    </app-mercaderias-lista>

    <ng-template #cargando>
      <div class="style-cargando-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</mat-card>
