.style-contenedor-principal {
  max-width: 85%;
  margin: 2em auto;
  text-align: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.style-cargando-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-contenedor-filtro {
  text-align: left;
}

.style-input-filtro-id {
  margin: 10px;
  width: 120px;
}

.style-button-filtro {
  margin-left: 10px;
  width: 120px;
  height: 50px;
}
