<mat-card>
  <mat-toolbar color="primary">
    Mercaderias Disponibles
  </mat-toolbar>

  <div class="column flex mat-elevation-z8">

    <!--Pasamos las variables al componente lista-->
    <app-mercaderias-lista
      *ngIf="listMercaderias$ | async as mercaderias; else cargando"
      [listMercaderias]="mercaderias"
      [pageResponse]="this.pageRes"
      [pageRequest]="this.pageRequestDefault"
      (nuevo)="onNuevo()"
      (visualizar)="onVisualizar($event)"
      (editar)="onEditar($event)"
      (eliminar)="onEliminar($event)"
      (inactivar)="onInactivar($event)">
    </app-mercaderias-lista>

    <ng-template #cargando>
      <div class="style-cargando-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</mat-card>
