.ui-container-principal {
  margin-top: 20px;
  height: 400px;
}

.ui-contenedor-agregar-mov-cuenta {
  text-align: left;
  padding: 10px; /* Agrega un margen mínimo de 10px */
}

.ui-boton-agregar {
  width: 120px;
  height:55px;
}

.ui-contenedor-tabla-mov-cuentas {
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  height: 265px;
}

.ui-saldo-lanzar {
  text-align: right;
  font-size: 18px;
  float: right;
  font-weight: bold;
  margin-right: 5px;
}
