/* src/app/ordenes/orden-list/orden-list.component.css */

/* Barra de herramientas */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.spacer {
  flex: 1 1 auto;
}

/* Contenedor principal */
.container {
  padding: 1rem;
}

/* Grid de cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
}

::ng-deep mat-tab-group {
  background: #1e1e1e; // Fondo oscuro
  border-radius: 8px;
  padding: 8px; // Fondo oscuro
}

::ng-deep .mat-tab-label {
  color: rgba(255, 255, 255, 0.7); // Texto más visible en modo oscuro
  font-weight: 500;
}

::ng-deep .mat-tab-label-active {
  color: #ffffff; // Texto más visible para la pestaña activa
  font-weight: bold;
}

::ng-deep .mat-ink-bar {
  background-color: #ff9800; // Color más visible para el indicador de pestaña activa
}

::ng-deep .mat-tab-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); // Línea divisoria más visible
}


/* Card de cada orden */
.orden-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sin-resultados {
  font-size: clamp(16px, 5vw, 25px);
  text-align: center;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 100px;
}

