<mat-toolbar color="primary" class="toolbar">
  <span class="title">Lista de Órdenes</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="onNuevo()">
    <mat-icon>add</mat-icon>
    Nueva orden
  </button>
</mat-toolbar>

<div class="container">
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="50"></mat-progress-spinner>

  <mat-tab-group [(selectedIndex)]="estadoSeleccionado">
    <mat-tab label="TODOS"></mat-tab>
    <mat-tab *ngFor="let estado of estadosOrden" [label]="estado.label"></mat-tab>
  </mat-tab-group>

  <div class="cards" *ngIf="!loading && ordenesFiltradas.length > 0">
    <mat-card class="orden-card"
    *ngFor="let orden of ordenesFiltradas | paginate: { itemsPerPage: 5, currentPage: paginaActual }">
    <mat-card-header>
      <mat-card-title>Orden {{ '#' + orden.numero }}</mat-card-title>
      <mat-card-subtitle><strong>Estado:</strong> {{ orden.estado }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p *ngIf="orden.nombreApellidoOcasional"><strong>Cliente:</strong> {{ orden.nombreApellidoOcasional }}</p>
      <p><strong>Fecha Emisión:</strong> {{ orden.fechaEmision | date:'dd/MM/yyyy HH:mm:ss' }}</p>
      <p *ngIf="orden.observacion"><strong>Observación:</strong> {{ orden.observacion }}</p>
    </mat-card-content>

    <!-- Acciones -->
    <mat-card-actions align="end">
      <button mat-icon-button [matMenuTriggerFor]="menuOpciones" matTooltip="Acciones">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menuOpciones="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item color="primary" aria-label="Visualiza la orden" (click)="onEditar(orden)">
          <mat-icon>visibility</mat-icon>
          <span>Visualizar</span>
        </button>

        <button mat-menu-item aria-label="Edita la orden" (click)="onEditar(orden)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>

        <button mat-menu-item aria-label="Cancela la orden" (click)="onCancelarOrden(orden)">
          <mat-icon>delete</mat-icon>
          <span>Inactivar</span>
        </button>

        <button mat-menu-item aria-label="Imprimir movimiento" [matMenuTriggerFor]="subMenuImprimir">
          <mat-icon>print</mat-icon>
          <span>Imprimir</span>
        </button>

        <mat-menu #subMenuImprimir="matMenu">
          <button mat-menu-item (click)="onImprimirTicketOrden(orden)">
            <mat-icon>print</mat-icon>
            <span>Movimiento A4</span>
          </button>
        </mat-menu>
      </mat-menu>
    </mat-card-actions>
  </mat-card>

  </div>

  <div class="sin-resultados" *ngIf="!loading && ordenesFiltradas.length === 0">
    <p>No hay órdenes disponibles.</p>
  </div>

  <mat-paginator [length]="ordenesFiltradas.length" [pageSize]="10" [pageSizeOptions]="tamanhosPage"
    (page)="cambiarPagina($event)">
  </mat-paginator>
</div>
