/* src/app/ordenes/orden-list/orden-list.component.css */

/* Barra de herramientas */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.spacer {
  flex: 1 1 auto;
}

/* Contenedor principal */
.container {
  padding: 1rem;
}

/* Grid de cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
}

::ng-deep mat-tab-group {
  border-radius: 8px;
  padding: 8px; // Fondo oscuro
}

::ng-deep .mat-tab-label {
  color: rgba(255, 255, 255, 0.7); // Texto más visible en modo oscuro
  font-weight: 500;
}

::ng-deep .mat-tab-label-active {
  color: #ffffff; // Texto más visible para la pestaña activa
  font-weight: bold;
}

::ng-deep .mat-ink-bar {
  background-color: #ff9800; // Color más visible para el indicador de pestaña activa
}

::ng-deep .mat-tab-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); // Línea divisoria más visible
}


/* Card de cada orden */
.orden-card {
  border-left: 5px solid transparent; /* Borde lateral por defecto */
  transition: border-color 0.3s ease-in-out;
}

/* Estado Pendiente - Naranja */
.estado-color-pendiente {
  border-left: 5px solid orange;
  background-color: rgba(255, 165, 0, 0.1);
}

/* Estado En Preparación - Morado */
.estado-color-en-preparacion {
  border-left: 5px solid purple;
  background-color: rgba(128, 0, 128, 0.1);
}

/* Estado Listo - Verde Azulado */
.estado-color-listo {
  border-left: 5px solid teal;
  background-color: rgba(0, 128, 128, 0.1);
}

/* Estado En Entrega - Naranja Oscuro */
.estado-color-en-entrega {
  border-left: 5px solid darkorange;
  background-color: rgba(255, 140, 0, 0.1);
}

/* Estado Entregado - Verde */
.estado-color-entregado {
  border-left: 5px solid green;
  background-color: rgba(0, 128, 0, 0.1);
}

/* Estado Cancelado - Rojo */
.estado-color-cancelado {
  border-left: 5px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

/* Estado Default - Gris */
.estado-color-default {
  border-left: 5px solid gray;
  background-color: rgba(128, 128, 128, 0.1);
}

.sin-resultados {
  font-size: clamp(16px, 5vw, 25px);
  text-align: center;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 100px;
}

