<form [formGroup]="formItemToAgregar">

  <div class="style-contenedor-agregar-item">

    <mat-form-field appearance="outline" [ngClass]="['style-campo-global', 'campo-mercaderia']">
      <mat-label>{{ "titulos.mercaderia" | transloco }}</mat-label>
      <input type="text" matInput [matAutocomplete]="acMercaderia" formControlName="mercaderia">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #acMercaderia="matAutocomplete" [displayWith]="displayMercaderia">
        <mat-option *ngFor="let mercaderia of listaMercaderiasFiltrado$ | async" [value]="mercaderia">
          {{mercaderia._id + " - " + mercaderia.descripcion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" [ngClass]="['style-campo-global', 'campo-cantidad']">
      <mat-label>{{ "titulos.cantidad" | transloco }}</mat-label>
      <input type="number" matInput formControlName="cantidad">
    </mat-form-field>

    <mat-form-field appearance="outline" [ngClass]="['style-campo-global', 'campo-valor-unitario']">
      <mat-label>{{ "titulos.valor-unitario" | transloco }}</mat-label>
      <input type="number" matInput formControlName="valorUnitario">
    </mat-form-field>

    <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">
      {{ movimientoListaDTO.total | currency:movimientoListaDTO.moneda.simbolo : 'symbol'
        : '1.' + movimientoListaDTO.moneda.cantidadDecimales + '-' + movimientoListaDTO.moneda.cantidadDecimales }} <!--Ej: 1.8-8 = 1 entero como minimo, 8 decimales como minimo, 8 decimales como maximo,.--> <!--tipos simbolos code: USD, symbol: $, symbol-narrow: $ pequeño-->
    </mat-cell>

    <button #botonAgregarItem mat-raised-button color="primary"
      [ngClass]="['style-campo-global', 'boton-agregar']" (click)="agregarItem()" [disabled]="formItemToAgregar.disabled">
      {{ "botones.agregar" | transloco }}
    </button>
  </div>

</form>

<div class="contenedor-tabla-items">
  <mat-table #tablaItems [dataSource]="movimiento.items">

    <!--Columna Id Mercaderia-->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Id Mercaderia
      </mat-header-cell>
      <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">{{ item.mercaderia._id }}</mat-cell>
    </ng-container>

    <!--Columna Descripcion Mercaderia-->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef [ngClass]="'titulo-tabla-global'">Descripción</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.mercaderia.descripcion }}</mat-cell>
    </ng-container>

    <!--Columna Cantidad-->
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Cantidad
      </mat-header-cell>
      <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">{{ item.cantidad }}</mat-cell>
    </ng-container>

    <!--Columna Valor unitario-->
    <ng-container matColumnDef="valorUnitario">
      <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Valor unitario
      </mat-header-cell>
      <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">
        {{ item.valorUnitario | currency:movimiento.moneda.simbolo != null ? movimiento.moneda.simbolo : 'Gs' : 'symbol'
         : '1.0' + '-' + movimiento.moneda.cantidadDecimales }}
        <!-- Entero.DecMin-DecMax -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasAMostrarItems"></mat-header-row> <!-- Filas de encabezado -->
    <mat-row *matRowDef="let row; columns: columnasAMostrarItems;"></mat-row> <!-- Filas de datos -->
  </mat-table>
</div>

<!--Muestra en caso de tabla vacia-->
<div *ngIf="movimiento.items.length == 0" [ngClass]="'label-tabla-vacia-global'">
  <mat-label>{{'sin-registros' | transloco}}</mat-label>
</div>
