<form [formGroup]="formItemToAgregar">
  <div class="ui-contenedor-agregar-item">
    <mat-form-field appearance="outline" [ngClass]="['style-campo-global', 'ui-campo-mercaderia']">
      <mat-label>{{ "titulos.mercaderia" | transloco }}</mat-label>
      <input #mercaderiaInputAC formControlName="mercaderia" type="text" matInput
        [matAutocomplete]="mercaderiaAutocomplete">
      <mat-icon matSuffix>search</mat-icon>

      <mat-autocomplete #mercaderiaAutocomplete="matAutocomplete" [displayWith]="displayMercaderia">
        <mat-option *ngFor="let mercaderia of listaMercaderiasFiltrado$ | async" [value]="mercaderia">
          {{mercaderia._id + " - " + mercaderia.descripcion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" [ngClass]="['style-campo-global', 'ui-campo-cantidad']">
      <mat-label>{{ "titulos.cantidad" | transloco }}</mat-label>
      <input #cantidadInput formControlName="cantidad" type="number" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" [ngClass]="['style-campo-global', 'ui-campo-valor-unitario']">
      <mat-label>{{ "titulos.valor-unitario" | transloco }}</mat-label>
      <input #valorUnitarioInput formControlName="valorUnitario" type="number" matInput>
    </mat-form-field>

    <!--Ej: 1.8-8 = 1 entero como minimo, 8 decimales como minimo, 8 decimales como maximo,.-->
    <!--tipos simbolos code: USD, symbol: $, symbol-narrow: $ pequeño-->

    <button #agregarItemButton mat-raised-button color="primary" [ngClass]="['style-campo-global', 'boton-agregar']"
      (click)="agregarItem()" [disabled]="formItemToAgregar.disabled">
      {{ "botones.agregar" | transloco }}
    </button>
  </div>
</form>


<form [formGroup]="movimientoFormGroup">
  <div class="contenedor-tabla-items">

    <mat-table #itemsTable [dataSource]="movimientoFormGroup.get('items')?.value">
      <!--Columna Id Mercaderia-->
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Id Mercaderia
        </mat-header-cell>
        <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">{{ item.mercaderia._id }}</mat-cell>
      </ng-container>

      <!--Columna Descripcion Mercaderia-->
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef [ngClass]="'titulo-tabla-global'">Descripción</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.mercaderia.descripcion }}</mat-cell>
      </ng-container>

      <!--Columna Cantidad-->
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Cantidad
        </mat-header-cell>
        <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">{{ item.cantidad }}</mat-cell>
      </ng-container>

      <!--Columna Valor unitario-->
      <ng-container matColumnDef="valorUnitario">
        <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Valor unitario
        </mat-header-cell>
        <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">
          {{ item.valorUnitario | currency:movimientoFormGroup.get('moneda')?.value.simbolo != null
                                    ? movimientoFormGroup.get('moneda')?.value.simbolo : 'Gs' : 'symbol'
                                    : '1.0' + '-' + movimientoFormGroup.get('moneda')?.value.cantidadDecimales }}
        </mat-cell>
      </ng-container>

      <!--Columna Subtotal-->
      <ng-container matColumnDef="subtotal">
        <mat-header-cell *matHeaderCellDef [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Subtotal
        </mat-header-cell>
        <mat-cell *matCellDef="let item" [ngClass]="'centrar-texto-global'">
          {{ item.cantidad * item.valorUnitario | currency:movimientoFormGroup.get('moneda')?.value.simbolo != null
                                          ? movimientoFormGroup.get('moneda')?.value.simbolo : 'Gs' : 'symbol'
                                          : '1.0' + '-' + movimientoFormGroup.get('moneda')?.value.cantidadDecimales }}
        </mat-cell>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>

        <mat-cell *matCellDef="let item" class="style-columna-acciones">
          <button mat-icon-button color="warn" aria-label="Remover item"
                  (click)="removerItem(item)" [disabled]="formItemToAgregar.disabled">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnasAMostrarItems"></mat-header-row> <!-- Filas de encabezado -->
      <mat-row *matRowDef="let row; columns: columnasAMostrarItems;"></mat-row> <!-- Filas de datos -->
    </mat-table>

    <!--Muestra en caso de tabla vacia-->
    <div *ngIf="movimientoFormGroup.get('items')?.value.length == 0" [ngClass]="'label-tabla-vacia-global'">
      <mat-label>{{'sin-registros' | transloco}}</mat-label>
    </div>

  </div>
</form>
