.ui-contenedor-agregar-item {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  gap: 16px; /* Espaciado entre los elementos */
  margin: 10px;
}

.ui-campo-mercaderia {
  width: 35%;
}

.ui-campo-cantidad {
  width: 20%;
}

.ui-campo-valor-unitario {
  width: 30%;
}

.boton-agregar {
  width: 120px;
  height:55px;
}

.contenedor-tabla-items {
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
