<div>
  <mat-table [dataSource]="sortListMovimientosListaDTO" matSort>
    <!-- Columna id -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header guardar-sort-en-cache [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Id
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">{{ movimientoListaDTO._id }}
      </mat-cell>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Tipo
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'izquierda-texto-global'">
        {{ movimientoListaDTO.tipo.descripcion }}
      </mat-cell>
    </ng-container>

    <!-- Columna nombreApellido -->
    <ng-container matColumnDef="nombreApellidoEntidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Entidad
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">
        {{ movimientoListaDTO.nombreApellidoEntidad }}
      </mat-cell>
    </ng-container>

    <!-- Columna fecha emision -->
    <ng-container matColumnDef="fechaEmision">
      <mat-header-cell *matHeaderCellDef mat-sort-header guardarSortEnCache [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Fecha Emisión
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">
        {{ movimientoListaDTO.fechaEmision | date: 'dd/MM/yyyy' }}
      </mat-cell>
    </ng-container>

    <!-- Columna departamento -->
    <ng-container matColumnDef="departamento">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Departamento
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">
        {{movimientoListaDTO.departamento.descripcion}}</mat-cell>
    </ng-container>

    <!-- Columna situacion -->
    <ng-container matColumnDef="situacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Situación
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">
        {{ movimientoListaDTO.situacion | situacionPipe }}</mat-cell>
    </ng-container>

    <!-- Columna total -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="['centrar-texto-global', 'titulo-tabla-global']">Total
      </mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" [ngClass]="'centrar-texto-global'">
        {{ formatearValorMoneda(movimientoListaDTO.total, movimientoListaDTO.moneda) }}
      </mat-cell>
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef class="style-columna-acciones">
        <button mat-mini-fab color="accent" aria-label="Crear nuevo movimiento"
          (click)="onMostrarTiposMovimientoSeleccion()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let movimientoListaDTO" class="style-columna-acciones">
        <button mat-icon-button [matMenuTriggerFor]="menuOpciones" matTooltip="Acciones">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menuOpciones="matMenu" xPosition="before" yPosition="below">
          <button mat-menu-item color="primary" aria-label="Visualiza el movimiento"
            (click)="onVisualizar(movimientoListaDTO)">
            <mat-icon>visibility</mat-icon>
            <span>Visualizar</span>
          </button>

          <button mat-menu-item aria-label="Edita el movimiento" (click)="onEditar(movimientoListaDTO)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>

          <button mat-menu-item aria-label="Inactiva el movimiento" (click)="onInactivar(movimientoListaDTO)">
            <mat-icon>delete</mat-icon>
            <span>Inactivar</span>
          </button>

          <button mat-menu-item aria-label="Imprimir movimiento" [matMenuTriggerFor]="subMenuImprimir">
            <mat-icon>print</mat-icon>
            <span>Imprimir</span>
          </button>

          <mat-menu #subMenuImprimir="matMenu">
            <button mat-menu-item (click)="onImprimirMovimientoA4Pdf(movimientoListaDTO)">
              <mat-icon>print</mat-icon>
              <span>Movimiento A4</span>
            </button>
          </mat-menu>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

  </mat-table>

  <!--Mostrar mensaje sin registros caso cantidad de registros de datasource sea igual a 0-->
  <div *ngIf="listMovimientosListaDTO.length == 0" [ngClass]="'label-tabla-vacia-global'">
    <mat-label>{{'sin-registros' | transloco}}</mat-label>
  </div>

  <!--Paginador-->
  <mat-paginator [length]="this.pageResponse?.totalElements" [pageSizeOptions]="tamanhosPage"
    [pageIndex]="this.apiPageRequest.pagina" [pageSize]="this.apiPageRequest.tamanho" (page)="onCambiarPage($event)"
    [showFirstLastButtons]="true" #paginador>
  </mat-paginator>
</div>
