<div>
  <mat-table [dataSource]="listMovimientosListaDTO">
    <!-- Columna id -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="centrar-texto">{{ movimientoListaDTO._id }}</mat-cell>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="izquierda-texto">{{ movimientoListaDTO.tipo.descripcion }}
      </mat-cell>
    </ng-container>

    <!-- Columna nombreApellido -->
    <ng-container matColumnDef="nombreApellidoEntidad">
      <mat-header-cell *matHeaderCellDef>Entidad</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="centrar-texto">{{ movimientoListaDTO.nombreApellidoEntidad }}
      </mat-cell>
    </ng-container>

    <!-- Columna fecha emision -->
    <ng-container matColumnDef="fechaEmision">
      <mat-header-cell *matHeaderCellDef>Fecha Emisión</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="centrar-texto">{{ movimientoListaDTO.fechaEmision | date: 'dd/MM/yyyy' }}
      </mat-cell>
    </ng-container>

    <!-- Columna departamento -->
    <ng-container matColumnDef="departamento">
      <mat-header-cell *matHeaderCellDef>Departamento</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="centrar-texto">
        {{movimientoListaDTO.departamento.descripcion}}</mat-cell>
    </ng-container>

    <!-- Columna situacion -->
    <ng-container matColumnDef="situacion">
      <mat-header-cell *matHeaderCellDef>Situación</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="centrar-texto">{{ movimientoListaDTO.situacion | situacionPipe }}</mat-cell>
    </ng-container>

    <!-- Columna total -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let movimientoListaDTO" class="centrar-texto">{{ movimientoListaDTO.total | currency:'Gs ' : true : '1.0-0' }}</mat-cell> <!--1 entero como minimo, 0 decimales-->
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef class="style-columna-acciones">
        <button mat-mini-fab color="accent" aria-label="Crear nuevo movimiento" (click)="onNuevo()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let movimientoListaDTO" class="style-columna-acciones">
        <button mat-icon-button color="primary" aria-label="Visualizar movimiento"
          (click)="onVisualizar(movimientoListaDTO)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button color="primary" aria-label="Editar movimiento" (click)="onEditar(movimientoListaDTO)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Inactivar movimiento"
          (click)="onInactivar(movimientoListaDTO)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>

  </mat-table>

  <!--Mostrar mensaje sin registros caso cantidad de registros de datasource sea igual a 0-->
  <div *ngIf="listMovimientosListaDTO.length == 0" class="label-tabla-vacia">
    <mat-label>{{'sin-registros' | transloco}}</mat-label>
  </div>

  <!--Paginador-->
  <mat-paginator [length]="this.pageResponse?.totalElements" [pageSizeOptions]="tamanhosPage"
    [pageIndex]="this.pageRequest.pagina" [pageSize]="this.pageRequest.tamanho" (page)="onCambiarPage($event)"
    [showFirstLastButtons]="true" #paginador>
  </mat-paginator>
</div>
