<h2 mat-dialog-title>Generar Reporte</h2>

<mat-dialog-content class="style-dialogo-generar-reporte">

  <div class="style-contenedor-filtro">
    <mat-form-field appearance="outline" class="style-date-picker-filtro">
      <mat-label>Fecha inicial</mat-label>
      <input matInput [matDatepicker]="pickerInicial" [(ngModel)]="datos.fechaInicial">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerInicial"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicial></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-date-picker-filtro">
      <mat-label>Fecha final</mat-label>
      <input matInput [matDatepicker]="pickerFinal" [(ngModel)]="datos.fechaFinal">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerFinal"></mat-datepicker-toggle>
      <mat-datepicker #pickerFinal></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-select-filtro-departamento">
      <mat-label>Departamento</mat-label>
      <mat-select [(ngModel)]="datos.idDepartamento" [compareWith]="compararOpcionesSelect">
        <mat-option [value]="-1">TODOS</mat-option>
        <mat-option *ngFor="let departamento of listaDepartamentos" value={{departamento._id}}>
          {{ departamento.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <mat-dialog-actions class="style-barra-acciones">
    <button mat-button mat-raised-button color="primary" (click)="onGenerarReporte()">Generar reporte</button>
    <button mat-button mat-raised-button color="warn" (click)="onSalir()">{{ "botones.salir" | transloco }}</button>
  </mat-dialog-actions>
</mat-dialog-content>
