.style-dialogo-content {

}

.style-date-picker-filtro {
  margin: 10px;
  width: 156px;
}

.style-select-filtro-moneda {
  margin: 10px;
  width: 150px;
}

.style-select-filtro-departamento {
  margin: 10px;
  width: 180px;
}

.style-dialogo-actions {
  justify-content: flex-end;
  margin: 10px;
}
