<mat-card>

  <mat-toolbar color="primary">Detalles de la Mercaderia</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="formMercaderia" class="anchura-minima">
      <mat-form-field appearance="outline" class="anchura-maxima">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" #descripcion>
        <mat-hint align="end">{{ descripcion.value.length || 0 }} / 100</mat-hint> <!--Requiere poner #descripcion-->
        <mat-error *ngIf="formMercaderia.get('descripcion') ?.invalid">{{ getMensajeError('descripcion') }}</mat-error> <!--verifica validaciones, invalid evita error con null o valor invalido-->
      </mat-form-field>

      <mat-form-field appearance="outline" class="anchura-maxima">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option disabled selected value="">Seleccione un tipo de mercadería</mat-option>
          <mat-option *ngFor="let tipoMercaderia of listaTiposMercaderia" [value]="tipoMercaderia">
            {{tipoMercaderiaUtils.getDescripcion(tipoMercaderia)}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formMercaderia.get('tipo') ?.invalid">{{ getMensajeError('tipo') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="anchura-maxima">
        <mat-label>Sucursal</mat-label>
        <mat-select formControlName="sucursal" [compareWith]="compararById">
          <mat-option disabled selected value="">Seleccione una sucursal</mat-option>
          <mat-option *ngFor="let sucursal of listaSucursales" [value]="sucursal">{{sucursal.id}} - {{sucursal.nombre}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formMercaderia.get('sucursal') ?.invalid">{{ getMensajeError('sucursal') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="anchura-maxima">
        <mat-label>Situación</mat-label>
        <mat-select formControlName="situacion">
          <mat-option *ngFor="let situacion of listaSituaciones" [value]="situacion">
            {{situacionUtils.getDescripcion(situacion)}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formMercaderia.get('situacion') ?.invalid">{{ getMensajeError('situacion') }}</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions class="style-barra-acciones">
    <button mat-raised-button color="primary" (click)="onGuardar()" [disabled]="isModoVisualizar()">Guardar</button>
    <button mat-raised-button color="warn" (click)="onCancelar()" class="style-espacio-boton">Cancelar</button>
  </mat-card-actions>
</mat-card>
