mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar {
  margin-bottom: 30px;
}

mat-form-field {
  margin-bottom: 20px;
}

.anchura-maxima{
  width: 80%;
}

.anchura-minima {
  width: 100%;
  min-width: 150px;
}

.style-espacio-boton {
  margin-left: 10px;
}

.style-barra-acciones {
  justify-content: center;
}

//Color texto disabled inputText
input[disabled] {
  color:rgb(0, 0, 0);
}

.style-contenedor-checkboxs {

}


