<div class="style-container" [class.style-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="style-toolbar" *ngIf="isSesionIniciada$ | async"> <!--Si se inició sesion muestra rl boton para abrir barra lateral-->
    <button mat-icon-button (click)="elSideNav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="style-app-nombre">Sistema Ceres</span>
    <span class="style-expandir"></span> <!--Expande el espacio para que los elementos siguientes queden al final-->
    <button mat-button (click)="cerrarSesion()">Desconectar</button>
  </mat-toolbar>

  <mat-sidenav-container class="style-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #elSideNav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list *ngIf="isSesionIniciada$ | async">
        <a mat-list-item [routerLink]="botonNav.ruta" *ngFor="let botonNav of botonesNav">
          <mat-icon class="style-icono">{{botonNav.icono}}</mat-icon>
          {{botonNav.nombre}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
