<h2>Seleccionar adicionales</h2>

<div *ngFor="let grupo of adicionalesPorTipo">
  <h3>{{ grupo.descripcionGrupo }}</h3>

  <ng-container *ngIf="isSeleccionMultiple(grupo.tipoAdicional); else unicaSeleccion">
    <!-- Selección múltiple con checkboxes -->
    <mat-checkbox *ngFor="let adicional of grupo.adicionales"
      [checked]="isItemSeleccionado(grupo.tipoAdicional, adicional.id)"
      (change)="toggleSeleccion(adicional, grupo.tipoAdicional)">
      {{ adicional.descripcion }}
    </mat-checkbox>
  </ng-container>

  <!--Selección única con radios -->
  <ng-template #unicaSeleccion>

    <!--<mat-radio-group [value]="seleccion[grupo.tipoAdicional]?.[0]?.id || null" (change)="toggleSeleccion(
        grupo.adicionales.find(adic => adic.id === $event.value)!,
        grupo.tipoAdicional
      )">
      <mat-radio-button *ngFor="let adicional of grupo.adicionales" [value]="adicional.id">
        {{ adicional.descripcion }}
      </mat-radio-button>
    </mat-radio-group>-->
  </ng-template>
</div>

<div class="actions">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="confirmar()">Confirmar</button>
</div>
