:host {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.mat-form-field {
  width: 100%;
  min-width: 350px;
}

mat-card-title{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  min-width: 420px;
  min-height: 180px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.estilo-boton {
  display: flex;
  justify-content: flex-end;
}
