<mat-card>
  <mat-toolbar color="primary">
    Entidades Disponibles
  </mat-toolbar>

  <!--Filtros-->
  <div id="filtros" class="style-contenedor-filtro" (keyup.enter)="filtrar()">
    <mat-form-field appearance="outline" class="style-input-filtro-id">
      <mat-label>Id</mat-label>
      <input matInput id="filtroId" type="number" [(ngModel)]="entidadFiltro.id" (blur)="limpiarFiltrosExceptoId()"
        (keyup.enter)="limpiarFiltrosExceptoId()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-input-filtro-nombreApellido">
      <mat-label>Nombre Apellido</mat-label>
      <input matInput id="filtroNombreApellido" type="text" [(ngModel)]="entidadFiltro.nombreApellido">
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-input-filtro-idsClaseEntidad">
      <mat-label>Clase de entidad</mat-label>
      <mat-select [(ngModel)]="entidadFiltro.idsClase" name="clasesEntidad" multiple>
        <mat-option *ngFor="let claseEntidad of listClasesEntidad" [value]="claseEntidad">
          {{claseEntidadUtils.getDescripcion(claseEntidad)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="style-select-filtro-situacion">
      <mat-label>Situación</mat-label>
      <mat-select [(ngModel)]="entidadFiltro.idSituacion" [compareWith]="compararOpcionesSelect">
        <mat-option [value]="-1">TODOS</mat-option>
        <mat-option *ngFor="let situacion of listSituaciones" [value]="situacion">
          {{situacionUtils.getDescripcion(situacion)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button class="style-button-filtro" (click)="limpiar()" color="accent">Limpiar</button>
    <button mat-raised-button class="style-button-filtro" (click)="filtrar()" [disabled]="isFiltrando"
      color="primary">Filtrar</button>
  </div>

  <div class="column flex mat-elevation-z8">

    <app-entidades-lista *ngIf="listEntidades$ | async as entidades; else cargando" [listEntidades]="entidades"
      [pageResponse]="this.pageRes" [pageRequest]="this.pageRequestDefault" (nuevo)="onNuevo()"
      (visualizar)="onVisualizar($event)" (editar)="onEditar($event)" (eliminar)="onEliminar($event)"
      (inactivar)="onInactivar($event)">
    </app-entidades-lista>

    <ng-template #cargando>
      <div class="style-cargando-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</mat-card>
