<mat-card class="mat-card-detalle-movimiento">

  <mat-toolbar color="primary">{{ "detalles.detalle-movimiento" | transloco }}</mat-toolbar>

  <mat-label class="titulo-tipo-movimiento">{{ formMovimientoDetalle.get('tipo')?.value?.descripcion }}</mat-label>

  <mat-card-content>
    <form [formGroup]="formMovimientoDetalle" class="anchura-minima">
      <mat-tab-group class="style-tab-grupo">
        <mat-tab label="Datos generales">
          <div class="style-contenedor-tab">
            <mat-grid-list [cols]="2" rowHeight="93px">

              <!--Fila 1-->
              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>Id</mat-label>
                  <input matInput formControlName="_id" #_id readonly="true">
                  <!--# sirve para poder acceder desde el ts a este elemento-->
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>{{ "titulos.moneda" | transloco }}</mat-label>
                  <mat-select formControlName="moneda" [compareWith]="compararOpcionesSelect">
                    <!--[] solicita info, () envia info-->
                    <mat-option disabled selected value="">{{ "seleccion.seleccion-moneda" | transloco }}</mat-option>
                    <mat-option *ngFor="let moneda of listaMonedas" [value]="moneda">
                      {{ moneda._id }} - {{ moneda.descripcion }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formMovimientoDetalle.get('moneda')?.invalid">{{ getMensajeError('moneda') }}
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <!--Fila 2-->
              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>{{ "titulos.entidad" | transloco }}</mat-label>
                  <input type="text" name="entidad" formControlName="entidad" matInput
                    [matAutocomplete]="autocompleteEntidad">

                  <mat-autocomplete #autocompleteEntidad="matAutocomplete" [displayWith]="displayEntidad">
                    <mat-option *ngFor="let entidad of listaEntidadesFiltrado$ | async" [value]="entidad">
                      {{ entidad._id + ' - ' + entidad.nombre + ' ' + entidad.apellido }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formMovimientoDetalle.get('entidad')?.invalid">{{ getMensajeError('entidad') }}
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>{{ "titulos.fecha-emision" | transloco }}</mat-label>
                  <input matInput formControlName="fechaEmision" readonly="true"
                    [value]="formMovimientoDetalle.get('fechaEmision')?.value | date:'dd/MM/yyyy HH:mm:ss'">
                </mat-form-field>
              </mat-grid-tile>

              <!--Fila 3-->
              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>{{ "titulos.departamento" | transloco }}</mat-label>
                  <mat-select formControlName="departamento" [compareWith]="compararOpcionesSelect">
                    <mat-option disabled selected value="">{{ "seleccion.seleccion-departamento" | transloco }}
                    </mat-option>
                    <mat-option *ngFor="let departamento of listaDepartamentos" [value]="departamento">
                      {{ departamento._id }} - {{ departamento.descripcion }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formMovimientoDetalle.get('departamento')?.invalid">
                    {{ getMensajeError('departamento') }}
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>
                    {{ formMovimientoDetalle.get('tipo')?.value?.tipo == 'E'
                    ? ('titulos.comprador' | transloco)
                    : ('titulos.vendedor' | transloco) }}
                  </mat-label>
                  <input formControlName="compradorVendedor" type="text" matInput
                    [matAutocomplete]="autocompleteCompradorVendedor">

                  <mat-autocomplete #autocompleteCompradorVendedor="matAutocomplete" [displayWith]="displayEntidad">
                    <mat-option *ngFor="let compradorVendedor of listaCompradoresVendedoresFiltrado$ | async"
                      [value]="compradorVendedor">
                      {{ compradorVendedor._id + ' - ' + compradorVendedor.nombre + ' ' + compradorVendedor.apellido }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="formMovimientoDetalle.get('compradorVendedor')?.invalid">{{
                    getMensajeError('compradorVendedor') }}
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <!--Fila 4-->
              <mat-grid-tile class="style-grid-tile">
                <mat-form-field appearance="outline" class="style-campos style-text-area">
                  <mat-label>{{ "titulos.observacion" | transloco }}</mat-label>
                  <textarea matInput cdkTextareaAutosize formControlName="observacion" placeholder="Observación"
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4">
                  </textarea>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline" class="style-campos">
                  <mat-label>{{ "titulos.situacion" | transloco }}</mat-label>
                  <mat-select formControlName="situacion">
                    <mat-option *ngFor="let situacion of listaSituaciones" [value]="situacion">
                      {{ situacion | situacionPipe }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formMovimientoDetalle.get('situacion')?.invalid">
                    {{ getMensajeError('situacion') }}
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-tab>

        <!--Tab 2-->
        <mat-tab label="Mercaderías">
          <div class="style-contenedor-tab">
            <app-lista-items [dsItems]="movimientoDetalleDTO.items" (itemToAgregarEvent)="agregarItemALista($event)"></app-lista-items>
          </div>
        </mat-tab>

        <!--Tab 3-->
        <mat-tab label="Financiero">
          <div>
            Content 3
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>

  </mat-card-content>

  <!--Botones-->
  <mat-card-actions class="style-barra-acciones">
    <button name="button-guardar" mat-raised-button color="primary" (click)="onGuardar()"
      [disabled]=formMovimientoDetalle.disabled>{{ "botones.guardar" | transloco }}</button>
    <button name="button-cancelar" mat-raised-button color="warn" (click)="onCancelar()" class="style-espacio-boton">{{
      "botones.cancelar" | transloco }}</button>
  </mat-card-actions>
</mat-card>
