.mat-card-detalle-movimiento {
  max-width: 90%;
  margin: 1em auto;
  text-align: center;
}

.style-titulo {
  margin-bottom: 30px;
  height: 100px;
}

.anchura-maxima {
  width: 100%;
}

.anchura-minima {
  width: 100%;
  min-width: 150px;
}

.style-campos {
  width: 450px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.style-espacio-boton {
  margin-left: 10px;
}

.style-barra-acciones {
  justify-content: center;
  margin: 15px;
}

.custom-disabled .mat-select-value {
  background-color: #3d1818;
  color: #570ebe;
}

.style-div {
  padding-top: 15px;
  height: 500px;
}

.titulo-tipo-movimiento {
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.style-tab-grupo {
  margin-top: 30px;
  height: 570px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.style-grid-tile {
  height: 150px !important; //Utiliza important para priorizar este style por encima de otras
}

.style-text-area {
  margin-top: -60px;
}

.style-contenedor-agregar-item {
  width: 90%;
  height: auto;
  align-items: flex-start;
}
