.main-content {
  display: flex;
  flex: 1;
  max-height: calc(100vh - 200px); // Ajusta restando espacio del header si hay
}

.ui-orden-form-container {
  display: flex;
  flex-direction: column;
}

.ui-div-toolbar {
  height: auto;
}

//Filtros lista mercaderia
.ui-div-filtros-lista-merc {
  width: 40%;
  height: auto;
}

.ui-filtro-buscar-producto {
  padding: 10px 5px 5px 5px;
  min-width: 50%;
  max-width: 100%;
}

.ui-select-filtro-tipo {
  padding: 10px 5px 5px 1px;
  min-width: 40%;
  max-width: 100%;
}
//End Filtros lista mercaderia

.ui-lista-mercaderias {
  flex: 1;
  overflow-y: auto; //barra deslizadora
  padding: 10px;
  border-right: 1px solid #ccc;

  max-width: 40%;
}

.ui-list-item {
  height: 120px;
}

.ui-item {
  height: 75px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.ui-item-imagen {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  border-radius: 4px;
}

.ui-item-detalle {
  margin-left: 10px;
}

//Lista mercaderias seleccionados
.selected-items {
  flex: 1;
  padding: 10px;
  max-width: 60%;

  .totals {
    margin-top: 20px;
  }
}
