<div>
  <mat-table [dataSource]="pageRegistrosSeparados">
    <!-- Columna id -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let mercaderia"> {{ mercaderia._id }} </mat-cell>
    </ng-container>

    <!-- Columna descripcion -->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let mercaderia"> {{ mercaderia.descripcion }} </mat-cell>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let mercaderia"> {{ mercaderia.tipo }} </mat-cell>
    </ng-container>

    <!-- Columna sucursal -->
    <ng-container matColumnDef="sucursal">
      <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
      <mat-cell *matCellDef="let mercaderia"> {{ mercaderia.sucursal.nombre }} </mat-cell>
    </ng-container>

    <!-- Columna situacion -->
    <ng-container matColumnDef="situacion">
      <mat-header-cell *matHeaderCellDef> Situación </mat-header-cell>
      <mat-cell *matCellDef="let mercaderia"> {{ mercaderia.situacion }} </mat-cell>
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef class="style-columna-acciones">
        <button mat-mini-fab color="accent" aria-label="Crear nueva mercaderia" (click)="onNuevo()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let mercaderias" class="style-columna-acciones">
        <button mat-icon-button color="primary" aria-label="Visualizar mercaderia" (click)="onVisualizar(mercaderias)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button color="primary" aria-label="Editar mercaderia" (click)="onEditar(mercaderias)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Inactivar mercaderia" (click)="onInactivar(mercaderias)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>
  </mat-table>


  <mat-paginator [length]="this.listMercaderias.length" [pageSize]="pageCantidadRegistros"
    [pageSizeOptions]="pageCantidades" (page)="onCambiarPage($event)" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
