/* Puede agregar estilos globales a este archivo y también importar otro archivo de estilos */
@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();



//Tema Light
$tema-custom-light: mat.define-light-theme((
  color: (primary: mat.define-palette(mat.$indigo-palette, 500), //color, tono "predeterminado", tono "más claro", tono "más oscuro", tono de "texto"
          accent: mat.define-palette(mat.$blue-palette),
          warning: mat.define-palette(mat.$red-palette)
         ),
          /*typography: mat.define-typography-config(),
          density: 0,*/
));

//Tema dark
$tema-custom-dark: mat.define-dark-theme((
  color: (primary: mat.define-palette(mat.$indigo-palette),
          accent: mat.define-palette(mat.$blue-grey-palette),
          warning: mat.define-palette($mat-red)
         ),
         //Solo incluir `typography` and `density` en el default dark theme.
         typography: mat.define-typography-config(),
         density: 0,
));

//Se asigna el tema light por default
@include mat.all-component-themes($tema-custom-light);

.dark-theme {
  // This mixin only generates the color styles now.
  @include mat.all-component-colors($tema-custom-dark);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cargando-spinner {
  padding: 30px;
  background: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-tabla-vacia {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;  //cuanto valor mas alto, mas negrita quedará
}

.centrar-texto {
  display: flex;
  justify-content: center;
}

.izquierda-texto {
  display: flex;
  justify-content: flex-start;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
