@use '@angular/material' as mat;

// Paleta y tema para modo claro (por defecto)
$temaClaro-primary: mat.define-palette(mat.$indigo-palette);
$temaClaro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$temaClaro-warn: mat.define-palette(mat.$red-palette);

$temaClaro: mat.define-light-theme((
  color: (
    primary: $temaClaro-primary,
    accent: $temaClaro-accent,
    warn: $temaClaro-warn
  )
));

// Paleta y tema para modo oscuro
$temaOscuro-primary: mat.define-palette(mat.$deep-purple-palette);
$temaOscuro-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$temaOscuro-warn: mat.define-palette(mat.$red-palette);

$temaOscuro: mat.define-dark-theme((
  color: (
    primary: $temaOscuro-primary,
    accent: $temaOscuro-accent,
    warn: $temaOscuro-warn
  )
));

// === Tema por defecto (claro)
@include mat.all-component-themes($temaClaro);

// === Tema alternativo (oscuro) aplicado cuando tiene la clase `theme-alternate`
.theme-alternate {
  @include mat.all-component-colors($temaOscuro);
}
