<mat-card>

  <mat-toolbar color="primary">Detalles de la Filial</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="formFilial" class="anchura-minima">
      <mat-form-field class="anchura-maxima" required="true">
        <input matInput placeholder="Nombre" formControlName="nombre">
      </mat-form-field>

      <mat-form-field class="anchura-maxima">
        <mat-label>Sucursal</mat-label>
        <mat-select formControlName="sucursal" [compareWith]="compararById" required="true">
          <mat-option disabled selected value="">Seleccione una sucursal</mat-option>
          <mat-option *ngFor="let sucursal of listaSucursales" [value]="sucursal">
            {{ sucursal.id }} - {{ sucursal.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="anchura-maxima">
        <mat-label>Seleccione Situación</mat-label>
        <mat-select formControlName="situacion">
          <mat-option value="A">Activo</mat-option>
          <mat-option value="I">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onGuardar()">Guardar</button>
    <button mat-raised-button color="warn" (click)="onCancelar()">Cancelar</button>
  </mat-card-actions>
</mat-card>
